/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
/* /reset */


/*--- all screens ---*/

body {
	font-family: 'Roboto', sans-serif;
	background-color: #111;
	color: #ddd;
	font-size: 1.1em;
}
b {
	font-weight: bold;
}
a {
	color: #ddd;
}
a:hover {
	color: #fff;
}
p {
	padding: 0 0 10px 0;
}
ul.dash {
    list-style: none;
    margin-left: 0;
    padding: 0 0 10px 2em;
}
ul.dash > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}
ul.space {
	padding: 0 0 10px 0;
}
ul.space > li {
	padding: 0 0 10px 0;
}
dt {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 2em;
}
dd {
  padding: 0 0 20px 0;
  margin: 0
}
figure {
	padding: 0px 0 10px 0;
	text-align: center;
}
figcaption {
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 1.1em;
	padding: 10px 0 0 0;
}
header, h1, h2, h3 {
	font-family: 'Sorts Mill Goudy', serif;
}
header h2 {
	padding: 20px 20px 0 0;
	font-size: 1.1rem;
	line-height: 1.9;
	font-family: "IBM Plex Mono", Icons;
	font-style: normal;
	font-weight: 400;
	color: rgb(114,146,163);
	text-transform: uppercase;
}
header h3 {
	font-size: 1.8rem;
	padding: 0 20px 0 0;
}
header h3 a {
	text-decoration: none;
}
header h3 a:hover {
	text-decoration: underline;
}
header h3 a.selected,.menu h3 a:hover.selected {
	color: rgb(114,146,163);
}
.responsive {
	max-width: 100%;
	height: auto;
}
#page h1 {
	font-family: "Sorts Mill Goudy", Icons;
	font-style: normal;
	font-size: 2rem;
	padding-bottom: 10px;
}
section {
	padding-bottom: 60px;
}
.diaporama {
	display: flex;
}
.diaporama a {
	display: inline-block;
	padding: 0 5px 0 0;
	text-decoration: none;
}
.diaporama img {
	max-width: 100%;
	height: auto;
}
.diaporama footer {
	display: none;
}
a.glightbox:hover {
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

/* Override glightbox.css */
.gslide-title {
	color: #eee !important;
	font-size: 1em !important;
	font-weight: bold !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	font-family: 'Sorts Mill Goudy', serif !important;
}

.gslide-description {
	background-color: transparent !important;
	color: #eee !important;
	font-family: 'Sorts Mill Goudy', serif !important;
	padding-top: 0px !important;
	text-align: center !important;
}

.gslide-desc {
	color: #eee !important;
	font-size: 1em !important;	
	font-family: 'Sorts Mill Goudy', serif !important;
}

.gdesc-inner {
	padding: 10px 0 !important;
}
/* /Override glightbox.css */


/*--- smartphones and portrait tablets ---*/

@media only screen and (max-width: 960px) {
	#page {
		padding: 0 20px 20px 20px;
	}

	#main {
		padding: 0 0 0 0;
	}
	header {
	  overflow:hidden;
	  background-color:#111; 
	  color: #eee; 
	  position:-webkit-sticky;
	  position:sticky;
	  top:0px;
	  padding: 10px 20px;
	}
	#nav {
		clear: right;
		padding: 0 0;
		display: none;
	}
	.menu-button a {
	  float:right;
	  text-decoration:none; 
	  color: #ddd;
	  font-size:2rem; 
	  padding: 15px 0 0 0; 
	  display:inline-block; 
	}
	.menu-button a:hover {
		color: #fff;
	}
	#menu-closer {
		display: none;
	}
	#logo {
	  float:left;
	}
	/* grids are displayed on a single column */
	.grid-33-33-33, .grid-50-50 {
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-gap: 0;
	}
}

/*--- smartphones only - override previous section ---*/

@media only screen and (max-width: 360px) {
	header {
	  padding: 5px !important;
	}
}


/*-- desktops and landscape tablets --*/

@media only screen and (min-width: 960px) {
	#page {
		display: grid;
		grid-template-columns: 30vw auto;
	}
	header {
		display: block;
		visibility: visible;
		position: fixed;
		width: 30vw;
		overflow-y: scroll;
		top: 0;
		bottom: 0;
	}
	#nav {
		padding: 0 20px;
		/* enforce visibility when changing size (portrait -> landscape) on tablet */
		display: block !important;
	}
	#logo {
		padding: 20px 20px 0px 20px;
	}
	.menu-button {
		/* enforce invisibility when changing size (portrait -> landscape) on tablet */
		display: none !important;
	}
	#main {
		grid-column-start: 2;
		padding: 30px 40px 40px 0;
		/* enforce visibility when changing size (portrait -> landscape) on tablet */
		display: block !important;
	}
	.grid-50-50 {
  	display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-gap: 20px;
	}
	.grid-33-33-33 {
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;
  	grid-gap: 7px;
	}
}